.nav {
    list-style-type: none;
    margin: 0;
    padding-left: 140px;
    overflow: hidden;
    background-color:rgb(197, 192, 184);
    margin-top: 20px;
}
.nav li  {
    float:left;
}
.nav li a{
    display: block;
    color:black;
    text-align: center;
    padding:10px 15px;
    text-decoration: none;
}
.color {
    color: rgb(238, 211, 211);
}
.color1{
    color: rgb(216, 189, 189);
}
.special-word {
    color:blue;
   /* padding-left: 150px;
    display: inline;*/
}
.special-word1{
    color: purple;
    text-align: left;
}
/*.cart{
    float: right;
}*/
.cart h1 {
    display: inline;
    padding-left: 150px;
    padding-right: 700px;
}
.cart p {
    display: inline;
}
.searchShop{
    width:5px;
    height:10px;
    float:right; 
    margin-top: 8px; 
    margin-left: 450px;
    padding-right: 150px;
}
.container {
    background-color: orangered;
    height:300px;
    width:100%;
}
.imageContainer{
    height:100px;
    width:100px;
    float: left;
    padding-left: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.imageContainer1 {
    text-align: left;
    padding:50px;
    float:left;
    padding-left: 300px;
}
.imageContainer1 button{
    background-color: black;
    color: white;
    border:none;
    padding: 8px;
    border-radius: 20px;
    width:100px;
}
.phones{
    display: inline-flex;
    margin-left: 10px;
    padding-left: 150px;
}
.icon {
    width:30%;
    height:30%;
    padding-top: 20px;
    float:left;
    font-size: 300%;
    padding-left: 20px;
    color:white;
}
.iphones {
    background-color:rgb(18, 238, 238);
    height: 180px;
    width:280px;
    text-align: left;
    padding-top: 2px;
    font-size: 18px;
    color:white;
}
.windows {
    background-color:rgb(184, 16, 184);
    height: 180px;
    width: 280px;
    text-align: left;
    padding-top: 2px;
    font-size: 18px;
    color:white;
    margin-left: 70px;
}
.android {
    background-color: rgb(15, 228, 15);
    height: 180px;
    width:280px;
    text-align: left;
    padding-top: 2px;
    font-size: 18px;
    color:white;
    margin-left: 70px;
}
.phonetext {
    text-align: left;
}
.row {
    padding-left: 100px;
}
.table {
    border:1px solid rgb(139, 137, 137);
}
.column {
    width:50px;
    display: inline-block;
    padding-left: 150px;
}
.ch {
    text-align: center;
    color: orangered;
    float: left;
    padding-right:50px;
}
.card {
    border:1px solid rgb(168, 163, 163);
    width:300px;
    height:220px;
}
.name {
    padding-left: 150px;
}
.column1 {
    width:50px;
    display: inline-block;
    padding-left: 150px;
    margin-left: 150px;
}
.column2 {
    width:50px;
    display: inline-block;
    padding-left: 150px;
    margin-left: 150px;
}
.column3 {
    width:50px;
    display: inline-block;
    padding-left: 150px;
}
.card1 {
    border:1px solid rgb(192, 186, 186);
    width:300px;
    height:220px;
    padding-left: 10px;
    padding-top: 10px;
}
.column4 {
    width:50px;
    display: inline-block;
    padding-left: 300px;
}
.column5 {
    width:50px;
    display: inline-block;
    padding-left: 300px;
}
.image {
    float:left;
    height:300px;
    width:100px;
    padding-right: 20px;
}
.column6{
    width:50px;
    display: inline-block;
    padding-left: 50px;
    margin-left: 3px;
}
.column7{
    width:50px;
    display: inline-block;
    padding-left: 325px;
}
.column8{
    width:50px;
    display: inline-block;
    padding-left: 300px;
}
.part4{
    float:left;
    height:400px;
    width:300px;
    text-align: left;
}
.container1{
    background-color:rgb(211, 204, 204);
    height:300px;
    width:100%;
    padding-left: 150px;
    margin-top: 10px;
}
.column9{
    width:25%;
    float: left;
    padding:0 10px;
    height: 200px;
}
.part5 .images{
    float:left;
    margin-right: 10px;
}
.part5 h5{
    color:green;
    margin-top: 30px;
}
h5{
    margin-top: 30px;
}
.part5 b,p{
    display: block;
    float:none;
}
.prices span {
    color:rgb(34, 136, 177);
}
.part5 .firstpar{
    color:purple;
}
.btn2 button{
    color:white;
    background-color: purple;
    border: none;
}
.btn3 button {
    color: white;
    background-color:rgb(17, 173, 240);
    border: none;
}
.footerDiv {
    margin-left: 500px;
    float: left;
    text-align: center;
    color:gray;
    margin-top: 20px;
    font-size: 15px;
}
.footerDiv p {
    color: rgb(172, 167, 167);
    margin-top: 0;
}
.icon1{
    float: right;
}
.column9 #image {
    margin-top: 20px;
    margin-left: 0;
    float: left;
}
.firstPrice {
    margin-bottom: 20px;
} 
.mobileName{
    padding-top: 20px;
}
#pic{
    margin-top: 20px;
}
.text{
    padding-left:10px;
    padding-top: 20px;
}
.iphones .para{
    margin-top: 5px;
}
.c1 {
    color: black;
}